@import "../../styles/Variables";

.dashboard {
  text-align: left;

  &_space {
    display: none;
  }
  &_icon{
    font-size: 2rem;
  }
  .fixed-action-btn{
    z-index: 300;
  }
  &_navigation{
    &_item{
      cursor: pointer;
      border: 1px solid $border-grey;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 426px) {
  .dashboard {
    text-align: center;

    &_space {
      display: block;
      height: 30vw;
    }
  }
}

