.bg {
  width: 100%;
  height: 85vh;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -1;
  background-repeat: no-repeat;

  &-primary {
    background-image: url("../assets/bg.png");
  }

  &-secondary {
    background-image: url("../assets/bg1.png");
  }
}

@media (max-width: 426px) {
  .bg {
    &-primary {
      background-image: url("../assets/bgS.png");
    }

    &-secondary {
      background-image: url("../assets/bgS1.png");
    }
  }
}

